* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #ecf2f8;
}

.container {
    padding: 5% 3%;
}

.grid-item {
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 7px;
}

#testimonial-1 {
    background-color: #7541c8;
    color: #ffffff;
}

#testimonial-2 {
    background-color: #48556a;
    color: #ffffff;
}

#testimonial-3 {
    background-color: #ffffff;
}

#testimonial-4 {
    background-color: #19212e;
    color: #ffffff;
}

#testimonial-5 {
    background-color: #ffffff;
}

@media (min-width: 576px) {
    .container {
        display: flex;
        max-width: 1200px;
        margin: 0 auto;
        justify-content: space-between;
    }

    #testimonial-5 {
        flex-basis: 24%;
    }

    #main-left-container {
        display: flex;
        flex-direction: column;
        flex-basis: 74%;

    }

    #top-subcontainer {
        display: flex;
        flex-basis: 50%;
        justify-content: space-between;
    }

    #bottom-subcontainer {
        display: flex;
        flex-basis: 50%;
        justify-content: space-between;
    }

    #testimonial-1 {
        flex-basis: 64%;
    }
    
    #testimonial-2 {
        flex-basis: 34%;
    }
    
    #testimonial-3 {
        flex-basis: 34%;
    }
    
    #testimonial-4 {
        flex-basis: 64%;
    }
}